.header{
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}
.title{
  background: #fff;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 10px;
  z-index: 999;
}
#loadMore{
    max-width: 800px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.container-title {
    z-index: 1;
    width: 100%;
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
    border: 2px solid black;
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}
@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    div.content {margin-left: 0;}
  }
.show{
    display: block;
}
.hide{
    display: none;
}
.table-inform{
    width: 100%;
    border: 1px solid black;
}
.card-text{
    display: inline-block;
    border-radius: 3px;
    width: 30%;
    text-align: center;
    margin-right: 3px;
}
.water{
    background-color: #2F2FA2;
}
.grass{
    background-color:rgb(162, 201, 105);
}
.fire{
    background-color: #E27D60;
}
.electric{
    background-color:  #E8A87C;
}
.bug{
    background-color: #41B3A3;
}
.poison{
    background-color: #5CDB95;
}
.flying{
    background-color: #659DBD;
}
.normal{
    background-color: #99738E;
}